.m-0 {
    margin: 0!important;
}
.p-0 {
    padding: 0!important;
}
.ml_3 {
    margin-left: 15px;
}
.cursor-pointer {
    cursor: pointer!important;
}
.color__checked {
    color: #6BE8B2!important;
}
.font-icon__medium__bold {
    font-weight: bold;
    font-size: 18px;
}
.font-icon__medium__normal {
    font-size: 18px;
}
.color__dimmed {
    color: #D4D6DD!important;
}